name: corn-ecommerce

services:
  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend


  frontend:
    image: corn-frontend:dev
    restart: unless-stopped
    env_file:
      - ../frontend/.env.production

  backend:
    image: corn-backend:dev
    restart: unless-stopped
    env_file:
      - ../backend/.env.production

volumes:
  caddy_data:
  caddy_config:
