cornelectronics.com, www.cornelectronics.com {
    encode gzip

    handle_path /api* {
        reverse_proxy corn-ecommerce-backend-1:8080
    }

    header /* Cache-Control "no-store"

    handle {
        reverse_proxy corn-ecommerce-frontend-1:3000
    }
}
